{% extends 'base.html' %}

{% block content %}
<h2>Create an account!</h2>

{% if created %}
<p style="color: green;">
    Account created, log in!
</p>
{% endif %}

{% if identical_user %}
<p style="color: red;">
    ERROR: Username already exists!
</p>
{% endif %}

{% if password_different %}
<p style="color: red;">
    ERROR: Please make sure your passwords are the same.
</p>
{% endif %}
<form action='/create_user' method="POST">
    <table>
        <tr>
            <td>username</td>
            <td><input type=text name=username></td>
        </tr>
        <tr>
            <td>password</td>
            <td><input type=text name=password></td>
        </tr>
        <tr>
            <td>retype password</td>
            <td><input type=text name='retype password'</td>
        <tr>
            <td></td>
            <td><input type=submit value='create'></td>
        </tr>
    </table>
</form>
{% endblock %}
