{% extends 'base.html' %}

{% block content %}
<h2>Home</h2>

<p>Welcome to my twitter-clone!</p>

<!-- example
<table>
{% for message in messages %}
    <tr>
    {% for key, value in message.items() %}
        <td>{{value}}</td>
    {% endfor %}
    </tr>
{% endfor %}
</table>
-->
<h2 style="text-align: center;">
    Recent Tweets
</h2>
{% for message in messages %}
    {% if message %}
        <div style="border: 1px solid black; padding: 10px;">
            {% for key, value in message.items() %}
                {% if key == 'screen_name' %}
                    <u style="color: #0892D0;"><b>{{ value }}</b></u><br>
                {% elif key == 'created_at' %}
                    <i style="float: right;">{{ value }}</i><br>
                {% else %}
                    {{ value }}<br>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}

{% if page > 0 %}
    <a style="padding-bottom: 20px;" href="?page={{ page - 1 }}">&#8592; previous</a>
{% endif %}

<a style="float: right; padding-bottom: 20px;" href="?page={{ page + 1 }}">next &#8594;</a>

{% endblock %}
